<%- include('partials/head'); -%>
<body>
	<p><a href="/ci">Go Home</a></p>
	<h1>Errors</h1>
	<% errors.forEach(function(error) { %>
		<ul>
			<li><%= error.timestamp %></li>
			<li><%= error.message %></li>
			<li><%= error.stack %></li>
		</ul>
		<hr />
	<% }) %>
	<a id="combined"><h1>Combined</h1></a>
	<% combineds.forEach(function(combined) { %>
		<ul>
			<li><%= combined.timestamp %></li>
			<li><%= combined.message %></li>
			<li><%= combined.stack %></li>
		</ul>
		<hr />
	<% }) %>
</body>