<%- include('partials/head'); -%>
<body>
	<%- include('partials/header'); -%>

	<% if (!hasLeads) { %>
		<p>No new leads were added</p>
		<p>There are a few reasons this could have happened. It may be that there are no new emails, or that the leads have already been added, or that you need to <a href="/login">re-login and try again.</a></p>
	<% } %>
	
	<% if (hasLeads) { %>
		<p>The following new leads have been added and emailed:</p>
		<% newLeads.forEach(function(newLead) { %>
		<ul>
			<li>Name: <%= newLead.content.firstName %> <%= newLead.content.lastName %></li>
			<li>Email: <%= newLead.content.email %></li>
			<li>Phone: <%= newLead.content.phone %></li>
			<li>Student Type: <%= newLead.content.status %></li>
			<li>Needs Financial Aid: <%= newLead.content.aid %></li>
			<li>Program: <%= newLead.content.program %></li>
			<li>Message: <%= newLead.content.message %></li>
		</ul>
		<% }); %>
	<% } %>
	<a href="/">Back</a>
</body>