<%- include('partials/head'); -%>
<body>
	<%- include('partials/header'); -%>
	<h2>Create Students in Populi</h2>
	<p>NOTE! Make sure you've updated the <strong>tags and term IDs</strong> to reflect this term (<a href="/ci/set-enrollment-term">here</a>)</p>
	<% if (results) { %>
		<% results.forEach(function(result) { %>
			<ul>
			<% if (result.error !== '') { %>
				<li><strong>Error: </strong><%= result.error %></li>
			<% } else { %>
				<li><embed src="<%= result.image %>" width="200px" /></li>
				<li><strong>First name: </strong><%= result['First Name'] %></li>
				<li><strong>Last name: </strong><%= result['Last Name'] %></li>
				<li><strong>Birth date: </strong><%= result['Birth Date'] %></li>
				<li><strong>Phone number: </strong><%= result['Phone Number'] %></li>
				<li><strong>Social Security Number: </strong><%= result['Social Security Number'] %></li>
				<li><strong>Street: </strong><%= result.street %></li>
				<li><strong>City: </strong><%= result.city %></li>
				<li><strong>State: </strong><%= result.state %></li>
				<li><strong>Zip Code: </strong><%= result.postal %></li>
				<li><strong>Country: </strong><%= result.country %></li>
				<li><strong>Email: </strong><%= result.Email %></li>
				<li><strong>Program: </strong><%= result.program %> (<%= result.tag %>)</li>
				<li>
					<strong>Lead Info:</strong>
					<ul>
						<li><strong>Admission Officer ID:</strong> <%= result.leadInfo.admissions_officer_id %></li>
						<li><strong>Program:</strong> <%= result.tagName %> (<%= result.leadInfo.program_id[result.programShort] %>)</li>
						<li><strong>Term:</strong> <%= result.termName %> (<%= result.leadInfo.term_id %>)</li>
						<li><strong>Education Level ID:</strong> <%= result.educationLevel %></li>
						<li><strong>High School Graduation Date:</strong> <%= result.highSchoolGradDate %></li>
					</ul>
				</li>
			<% } %>
			</ul>
			<hr />
		<% }); %>
		<a href="/ci/student-creation">Continue</a>
	<% } %>
	<a href="/ci">Back</a>
</body>